name: pipeline

on:
  workflow_dispatch:
  schedule:
    - cron: "44 * * * *"

jobs:
  pipeline:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install ghostscript
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install build

      - name: Checkout github repo
        uses: actions/checkout@v2
        with:
          ref: "main"
          token: "${{ secrets.REPO_DATA_TOKEN }}"

      - name: STEP 1) download_all
        run: |
          export PYTHONPATH="$PYTHONPATH:./src"
          python workflows/download_all.py

      - name: STEP 2) build_readme
        run: |
          export PYTHONPATH="$PYTHONPATH:./src"
          python workflows/build_readme.py

      - name: STEP 3) build_alers
        run: |
          export PYTHONPATH="$PYTHONPATH:./src"
          python workflows/build_alerts.py

      - name: Push to github repo
        run: |
          git config --global user.email "${{ secrets.GIT_USER_EMAIL }}"
          git config --global user.name "${{ secrets.GIT_USER_NAME }}"

          git pull origin main
          git add .
          git commit -m "pipeline $(date)"
          git push origin main
